# ignore Elgg configuration
/engine/settings.php
/elgg-config/settings.php
/.htaccess
/mod/*
/composer.phar
/cache

# Don't check in third party code
# For now, dont ignore
!/node_modules
!/vendor

# don't ignore bundled plugins
!/mod/aalborg_theme/
!/mod/blog/
!/mod/bookmarks/
!/mod/categories/
!/mod/ckeditor/
!/mod/custom_index/
!/mod/dashboard/
!/mod/developers/
!/mod/diagnostics/
!/mod/discussions/
!/mod/embed/
!/mod/externalpages/
!/mod/file/
!/mod/garbagecollector/
!/mod/groups/
!/mod/htmlawed/
!/mod/invitefriends/
!/mod/legacy_urls/
!/mod/likes/
!/mod/logbrowser/
!/mod/logrotate/
!/mod/members/
!/mod/messageboard/
!/mod/messages/
!/mod/notifications/
!/mod/pages/
!/mod/profile/
!/mod/reportedcontent/
!/mod/search/
!/mod/site_notifications/
!/mod/tagcloud/
!/mod/thewire/
!/mod/twitter_api/
!/mod/uservalidationbyemail/
!/mod/web_services/
!/mod/zaudio/

# don't ignore third-party plugins
!/mod/access_grant/
!/mod/amap_coverphoto/
!/mod/ambercal_settings_transfer/
!/mod/blog_tools/
!/mod/captcha/
!/mod/ckeditor_addons/
!/mod/countries/
!/mod/data_views/
!/mod/elgg_ajax_register/
!/mod/elgg_file_viewer/
!/mod/elgg_tokeninput/
!/mod/event_manager/
!/mod/faq/
!/mod/freichat/
!/mod/group_tools/
!/mod/html_email_handler/
!/mod/hypeAttachments/
!/mod/hypeDiscovery/
!/mod/hypeDiscussions/
!/mod/hypeDropzone/
!/mod/hypeEmbed/
!/mod/hypeInteractions/
!/mod/hypeLists/
!/mod/hypeMapsOpen/
!/mod/hypeNotifications/
!/mod/hypeScraper/
!/mod/hypeWall/
!/mod/l1/
!/mod/mrdave_aalborg/
!/mod/newsletter/
!/mod/paul_override/
!/mod/payments/
!/mod/payments_paypal_api/
!/mod/payments_wire/
!/mod/profile_manager/
!/mod/questions/
!/mod/sbw_campaigns/
!/mod/thewire_tools/
!/mod/tidypics/
!/mod/videos/
!/mod/views_counter/
!/mod/widget_manager/
!/mod/widget_pack/

# ignore IDE/hidden/testing/OS cache files
.*
*~
/nbproject
/nb-configuration.xml
Session.vim
*.tmproj
*.tmproject
tmtags
Thumbs.db
Desktop.ini
npm-debug.log
phpcbf-fixed.diff

# Codio.com
startup.sh

# don't ignore special configs
!/.mailmap
!/.travis.yml
!/.scrutinizer.yml
!.github
!.gitignore
!.scripts
!.tx